@font-face { font-family: Open Sans; src: url('Delicious-Roman.otf'); }
html，body{
	color: #434242;
	font-family: 'Roboto Slab', serif;
	height: 100%;
}
body{
	background: #F3EFE0;
	font-size: 15px;
	line-height: 1.64;
	color: #434242;
  /* font-family: 'Open Sans', sans-serif !important;*/
  font-family: 'Roboto Slab', serif;
}
.blackground, .content{
	max-width: 1280px;
	padding: 40px 180px;
}

h1{
	font-weight: 700;
	text-align: center;
	margin-bottom: 10px;
}


.content a{
  font-family: 'Indie Flower', cursive;
	color:#0000FF;
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
	color:#434242;
}





/* linkin link*/
/*#nonsensewrap {
  position: absolute;
}

#wLinkedIn a {
    display: inline-block;
    color: #000 !important;
    background: #fdfdfd;
    background: -webkit-linear-gradient(#fdfdfd, #eee);
    background: -moz-linear-gradient(#fdfdfd, #eee);
    background: -o-linear-gradient(#fdfdfd, #eee);
    background: linear-gradient(#fdfdfd, #eee);
    text-decoration: none;
    font-size: 12px !important;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    line-height: inherit;
    font-weight: bold;
    border: 1px solid #bbb;
    border-radius: 3px;
}

#wLinkedIn a:hover {
    opacity: 0.8;
}

#icon-bg {
    display: inline-block;
    background: #007bb6;
    background: -webkit-linear-gradient(#81bedb, #007bb6);
    background: -moz-linear-gradient(#81bedb, #007bb6);
    background: -o-linear-gradient(#81bedb, #007bb6);
    background: linear-gradient(#81bedb, #007bb6);
    color: #fff;
    padding: 0px 5px;
    border-radius: 3px;
    border: 1px solid #3f7eb7;
    font-size: 16px;
    margin: -1px;
}

#icon-label-bg {
    display: inline-block;
    padding: 3px 5px 3px 5px;
}*/
/* End of linkin link*/
